################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WPF/FileContentIndex/e5d4204a-56d1-415e-9ad3-cfe8f9450e49.vsidx
/.vs/WPF/FileContentIndex/3ddef141-5700-4ccd-a000-eff06543d013.vsidx
*.vsidx
/.vs/WPF/FileContentIndex/06673c03-468c-42ed-8740-ede31e1aa490.vsidx
